<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "needs-validation w-100 d-flex flex-column justify-content-between h-100 mt-3", novalidate: true, id: "session"}) do |f| %>
  <div class="d-flex flex-column">
    <div class="field form-group">
      <div class="input-group has-validation">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",id: "validationCustomUsername", class: "form-control py-2", 
        required: true, placeholder: "Email"
        %>
        <div class="invalid-feedback">
            Please Enter an Email Address.
        </div>
      </div> 
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control py-2", id: "validationCustom03",
      required: true, placeholder: "Password" %>
      <div class="invalid-feedback">
        Please provide Password.
      </div>
    </div>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none text-secondary text-center align-items-center" %><br />
    <% end %>
  </div>

  <div class="actions d-flex flex-column links_foot align-items-center w-100">
    <%= f.submit "Log in", class: "p-2 lead text-decoration-none bg-primary text-light text-center" %>
    <a href="/users/sign_up" class="p-3 lead text-decoration-none text-center text-dark" >Sign Up</a>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
